.turn > div {
  height: 400px;
}

.turn {
  padding-top: 20px;
  padding-bottom: 20px;
}

.authorimage {
  max-height: 100%;
  border-radius: 10px;
}

.answer {
  background-color: #F0F7FD;
  border-color: #D0E3F0;
  margin-bottom: 30px;
  border-left: 5px solid #D0E3F0;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
}

.answer:hover {
  background-color: #D0E3F0;
}

#header {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#footer {
  padding-top: 20px;
  text-align: center;
}

.col-11 {
  padding-top: 20px;
}